/* 
Gull-gul kode: #e6bd43

Gråsvart: #252525

Svart: #000

Hvit: #fff
*/

* {
  font-family: 'Red Hat Display', sans-serif;
  max-width: 1600px;
}

body {
  margin: 0;
}

#grid {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header" "main" "footer";
}


/*CSS HEADER*/

header span {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

header span img {
  width: 100px;
  height: 100px;
}

header nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

header nav a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  gap: 1rem;
  color: #000;
  margin-top: 1rem;
  font-weight: 400;
}

#contactbutton { /*https://www.thesitewizard.com/css/create-coloured-box.shtml*/ 
  background-color: #e6bd43;
  font-weight: bold;
  padding: 10px;
  margin: 1rem auto auto auto;
  max-width: 200px;
}


/*CSS MAIN index*/

main h1 {
  text-align: center;
  font-size: 30px;
  margin: 0;
}

main h2 {
  text-align: center;
}

main h3 {
  text-align: center;
}

main h4 {
  text-align: center;
}

main p {
  text-align: center;
}

.contactbutton2 {
  background-color: #e6bd43;
  font-weight: bold;
  padding: 16px;
  max-width: 100%;
  text-decoration: none;
  color: #000;
  text-align: left;
  display: flex;
  justify-content: center;
}

#mobil-h1 {
  background-image: url(https://itstud.hiof.no/~andersnb/img/skrivebord.jpg); /*Sette bakgrunnsbilde: https://stackoverflow.com/questions/1093955/make-the-image-go-behind-the-text-and-keep-it-in-center-using-css*/
  width: 100%;
  height: auto;
}

#mobil-h1 section {
  padding: 4rem;
}

main article {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

main article section {
  gap: 1rem;
}

main article i {
  text-align: center;
  font-size: 30px;
}

main #section2 {
  padding: 2rem;
}

#section3 {
  background-color: #e6bd43;
  padding: 2.5rem;
}

#section3 img {
  width: 100%;
  height: auto;
}

#section3 article {
  padding: 3rem;
}

#section3 h3 {
  text-align: left;
}

#section3 p {
  text-align: left;
}

#contactbutton3 {
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding: 10px;
  border-style: solid;
  max-width: 120px;
  border-color: #000;
  color: #000;
  font-weight: bold;
  margin: 0 0 auto; /*ChatGPT hjalp med margin her for plassering i midten*/
}

#flex-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main #section4 {
  padding: 3rem;
}

main #section4 h3 {
  margin-bottom: 3rem;
}

main #section4 p {
  margin: 0 0 3rem 0;
}

#section5 {
  background-color: #f3f0f1;
  padding: 3rem 0.5rem 2rem 0.5rem;
}

form {
  display: flex;
}

form input {
  width: 66%;
  padding: 10px 16px;
  border: hidden;
}

#signup-btn {
  width: 33%;
  padding: 10px 16px;
  background-color: #e6bd43;
  color: #000;
  font-weight: bold;
  font-size: 12px;
  border-radius: 0px;
  border: 0;
}


/*CSS MAIN portfolio*/

#overskrift {
  background-image: url(https://itstud.hiof.no/~andersnb/img/skrivebord.jpg);
  width: 100%;
  height: 400px;
}

#overskrift h1 {
  display: flex;
  justify-content: center;
  padding-top: 10rem;
}

#layout-port {
  padding: 3rem;
}

#layout-port h2 {
  text-align: left;
  margin-top: 3rem;
}

#layout-port hr {
  color: #e6bd43;
  margin-bottom: 3rem;
}

#layout-port p {
  text-align: left;
  font-weight: bold;
  line-height: 1em;
}

#layout-port img {
  width: 100%;
  height: auto;
}

#layout-port article {
  margin: 0 0 2rem 0;
}


/*CSS MAIN about*/

#about-overskrift {
  background-image: url(https://cdn.pixabay.com/photo/2019/07/14/16/27/pen-4337521_1280.jpg);
  width: 100%;
  height: auto;
  display: flex;
}

#about-overskrift article {
  background-color: #f3f0f1;
  padding: 3rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;
}

#about-overskrift p {
  text-align: left;
  margin: 0;
}

#about-overskrift h3 {
  text-align: left;
}

#contactbutton4 {
  background-color: #e6bd43;
  font-weight: bold;
  padding: 20px;
  max-width: 100%;
  text-decoration: none;
  color: #000;
  text-align: left;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

#gul-bakgrunn {
  background-color: #e6bd43;
  padding: 2.5rem;
}

#gul-bakgrunn img {
  width: 140px;
  height: auto;
}

#gul-bakgrunn article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  margin: 3rem -2rem 0 -2rem;
}

#contact-bak {
  background-color: #f3f0f1;
  padding: 3rem;
}

#contact-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/*
#contact-bak article {
  display: flex;
}*/

.nav-btn {
  text-decoration: none;
  color: #000;
  padding: 10px;
  border: 1px black;
  border-style: solid;
  line-height: 3rem;
}

/*CSS FOOTER*/

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #252525;
}

footer nav {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  padding: 0;
}

footer nav img {
  width: 100px;
  height: 100px;
}

footer p {
  color: #fff;
  display: flex;
  justify-content: center;
}

footer span {
  color: #fff;
  background-color: #252525;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  margin-bottom: 3rem;
  font-size: 30px;
}

#myBtn { /*https://www.w3schools.com/howto/howto_js_scroll_to_top.asp*/
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #252525; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 3px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

/*CSS for DESKTOP*/
@media only screen and (min-width: 800px) and (max-width: 1600px) { /*Både min- og max-width: https://www.w3schools.com/css/css3_mediaqueries_ex.asp*/

  #mobil-h1 {
    display: none;
  }

  main video {
    max-width: 100%;
    height: auto;
  }

}

@media only screen and (max-width: 799px) {
  
  #desktop-h1 {
    display: none;
  }

}